{
	"configuration": {
		"slack": {
			"webhook": "***REMOVED***",
			"channel": "@cdmbr",
			"icon": ":vbyte:",
			"bot": "nerdployer-test"
		},
		"awscli": {
			"region": "us-east-1"
		}
	},
	"steps": [{
		"name": "regions",
		"type": "awscli",
		"parameters": {
			"service": "ec2",
			"command": "describe-regions"
		}
	}, {
		"name": "version",
		"type": "git"
	}, {
		"name": "notify_version_and_region",
		"type": "slack",
		"parameters": {
			"message": "*current repository version is:* `{{ version }}`. *the aws regions are:* `{{{ regions.Regions }}}`"
		}
	}]
}